body {
	position: relative;
	padding-top: 50px;
	padding-bottom: 20px;
	color: #FFF;
	background-color: #000;
}
.jumbotron {
	background-color: #222;
}
a {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.navbar-inverse {
	background-color: #2D2D2D;
}
.navbar-inverse .navbar-brand {
	background-color: #FF4D7D;
	color: #F5F5F5;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
	background-color: #FE679C;
	color: #FFF;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
	background-color: #555;
}
.dropdown-menu {
	background-color: #222;
}
.dropdown-menu > li > a {
	color: #F5F5F5;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: #FFF;
	background-color: #555;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
	background-color: #080808;
}
.well {
	margin-top: 20px;
}
#facebook-link {
	background-color: #3B5998;
	color: #F5F5F5;
}
#facebook-link:focus, #facebook-link:hover {
	background-color: #4264AA;
	color: #FFF;
}
.jumbotron[id="cu-privilege"] {
	background-image: url("images/bg_cu_privilege.jpg");
	background-size: cover;
}
.jumbotron[id="news"] {
	background-image: url("images/bg_news.jpg");
	background-size: cover;
}
.jumbotron[id="privileges"] {
	background-image: url("images/bg_privileges.jpg");
	background-size: cover;
	color: #222;
}
.jumbotron[id="calendar"] {
	background-image: url("images/bg_calendar.jpg");
	background-size: cover;
	color: #222;
}
.jumbotron[id="bookmarks"] {
	background-image: url("images/bg_bookmarks.jpg");
	background-size: cover;
}
.jumbotron[id="download"] {
	background-image: url("images/bg_download.jpg");
	background-size: cover;
}
.text-primary {
	color: #FE679C;
}
.thinc-logo {
	opacity: 0.8;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.thinc-logo:focus, .thinc-logo:hover {
	opacity: 1.0;
}
